.sort-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.sort-icon {
  cursor: pointer;
  width: 20px;
  height: auto;
  transition: fill 0.2s;
  fill: #555;

  &:hover,
  &.active {
    fill: #000;
  }
}
